<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>WireFrames Project</title>
</head>
<body>

<div class="row" style="margin-top:15px;">
        <div class="col-sm-12">
            <table class="table">
                <thead>
                    <tr>
                        <th>Product</th>
                        <th>Currency</th>
                        <th class="text-center"></th>
                        <th class="text-center">Price</th>
                        <th> </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="col-sm-8 col-md-6">
                        <div class="media">
                            <img class="media-object" src="/public/images/<%=Result.image_groups[0].images[0].link%>" style="width: 190px; height: 190px;"> 
                            <div class="media-body" style="margin-left:20px;">
                                <h4 class="media-heading"><%=Result.name%></h4>
                                <h5 class="media-heading"> </h5>
                                <span>Description: </span>
                                <span style="color:black;"><strong><%-Result.long_description%></strong></span>
                            </div>
                        </div></td>
                        <td class="col-sm-1 col-md-1" style="text-align: center"><select class="form-control" name="currency" id="currency" style="width:100px;">
                        <option value="usd" id="usd">USD</option>
                        <option value="euro" id="euro">EURO</option>
                        <option value="tl" id="tl">TL</option>
                    </select></td>
                        <td class="col-sm-1 col-md-1 text-center"></td>
                        <td class="col-sm-1 col-md-1 text-center"><strong><div id="currency_price"><input type:"text" readonly="true" style="font-weight:bold; text-align:center; border: 0px solid; width:80px;" id="price" name="price" value="<%=Result.price%>"></div></strong></td>
                        <td class="col-sm-1 col-md-1">
                        <button type="button" id="buyNow" class="btn btn-primary">
                            <span class="glyphicon glyphicon-remove"></span> Buy Now
                        </button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

<div class="row">
    <div id="CheckSession" style="margin: auto auto;">
            
    </div>
</div>

<!--Script İmport-->
    <script src="/public/js/jquery-3.2.1.min.js"></script>
    <script src="/public/js/bootstrap.min.js"></script>
    <script src="/public/js/main.js"></script>

<script>
    $(document).ready(function(){

            var previous;
            var currency;
            var price = "<%=Result.price%>";

            $("#currency").on('focus', function () {
                previous = this.value;
            }).change(function() {
                //alert("Old Value : "+previous+"\nNew Value : "+this.value);
                currency = this.value;

                if(previous =="usd")
                {
                    // USD
                    $.ajax({
                        url: "http://api.fixer.io/latest?base=USD",
                        type: "GET",
                        async:true,
                        dataType : 'json',
                        data: {},
                        success: function(data) 
                        { 
                            var new_price;
                            if(currency =="euro")
                            {
                                new_price = parseFloat(price) * parseFloat(data.rates.EUR);
                            }
                            else
                            {
                                new_price = parseFloat(price) * parseFloat(data.rates.TRY);
                            }

                            price = new_price.toString();

                            $("#price").val(new_price.toFixed(0));

                        },
                        error: function(e)
                        { 
                            alert("error USD: "+e);
                        } 
                    });
                }
                else if(previous == "euro") //Euro
                {
                    $.ajax({
                        url: "http://api.fixer.io/latest?base=EUR",
                        type: "GET",
                        async:true,
                        dataType : 'json',
                        data: {},
                        success: function(data) 
                        { 
                            var new_price;
                            if(currency =="usd")
                            {
                                new_price = parseFloat(price) * parseFloat(data.rates.USD);
                            }
                            else
                            {
                                new_price = parseFloat(price) * parseFloat(data.rates.TRY);
                            }

                            price = new_price.toString();

                            $("#price").val(new_price.toFixed(0));

                        },
                        error: function(e)
                        { 
                            alert("error Euro: "+e);
                        } 
                    });   
                }
                else // TRY
                {
                    $.ajax({
                        url: "http://api.fixer.io/latest?base=TRY",
                        type: "GET",
                        async:true,
                        dataType : 'json',
                        data: {},
                        success: function(data) 
                        { 
                            var new_price;
                            if(currency =="usd")
                            {
                                new_price = parseFloat(price) * parseFloat(data.rates.USD);
                            }
                            else
                            {
                                new_price = parseFloat(price) * parseFloat(data.rates.EUR);
                            }

                            price = new_price.toString();

                            $("#price").val(new_price.toFixed(0));

                        },
                        error: function(e)
                        { 
                            alert("error TRY: "+e);
                        } 
                    });
                }

                previous = this.value;
            });







            //Current User variable
            var current="";

            //Session Check
            if("<%Username%>" != null)
            {
                current = "<%=Username%>"; 
            }    

            //Buy Now Click
            $('#buyNow').click(function(){

                if(current != "")
                {
                    var path = window.location.pathname;
                    
                    var currency = $("#currency").val();
                    var price = $("#price").val();


                    var FullPath = "/shopping/<%=Result.id%>&"+price+"&"+currency;

                    //Current User
                    window.location.href = FullPath;

                }
                else
                {
                    $("#CheckSession").html('<div class="alert alert-info" style="width:400px; background-color:#FFE761;" role="alert"><strong>STOP!</strong> Please, <a href="/login">Log in...</a></div>');
                }
            });


    });
</script>


</body>
</html>