
    <div class="row" style="margin: 10px; auto;">
        <div class="col-sm-12">
            <table class="table">
                <thead>
                    <tr>
                        <th>Product</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th class="text-center">Price</th>
                        <th class="text-center">Currency</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                <%for(var i=1;i<Result[0].shopping.length;i++){%>
                    <tr>
                        <td class="col-sm-8 col-md-6">
                        <div class="media">
                            <img class="media-object" style="width:150px; height:150px;"src="/public/images/<%=Result[0].shopping[i][4].image%>" style="width: 72px; height: 72px;">
                            <div class="media-body">
                                <h4 class="media-heading" style="margin-left:25px;"><%=Result[0].shopping[i][1].name%></h4>
                            </div>
                        </div>
                        </td>
                        <!--Price-->
                        <td class="col-sm-1 col-md-1 text-center"><strong></strong></td>
                        <td class="col-sm-1 col-md-1 text-center"><strong></strong></td>
                        <td class="col-sm-1 col-md-1 text-center"><strong></strong></td>
                        <td class="col-sm-1 col-md-1 text-center"><strong><%=Result[0].shopping[i][2].price%></strong></td>
                        <td class="col-sm-1 col-md-1 text-center"><strong><%if(Result[0].shopping[i][3].currency == "euro"){%>€<%}else if(Result[0].shopping[i][3].currency == "usd"){%>$<%}else{%>TL<%}%></strong></td>
                        <td class="col-sm-1 col-md-1">
                        <a href="/myshopping/<%=Result[0].shopping[i][0].productID%>"><button type="button" id="Remove" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove"></span> Remove
                        </button></a>
                        </td>
                    </tr>
                    <%}%>
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td> <h3>Total</h3>  </td>
                        <td><h4>$: (<%=TotalDolar%>)</h4><br><h4>€: (<%=TotalEuro%>)</h4><br><h4>TL: (<%=TotalTl%>)</h4></td>
                        <td class="text-right"></td>
                    </tr>
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td>
                        <a href="/"><button type="button" class="btn btn-default">
                            <span class="glyphicon glyphicon-shopping-cart"></span> Continue Shopping
                        </button></a></td>
                        <td>
                        <a href="/logout"><button type="button" class="btn btn-success">
                            Checkout <span class="glyphicon glyphicon-play"></span>
                        </button></a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
