body{
    overflow-x: hidden;
}

.collapse ul.navbar-nav>li {
    margin: auto 30px;
}



.fixed-top{

    max-width: 1140px;
    margin: 0px auto;

}

.container{

    margin-top:20px !important;

}


a.nav-link{
    font-family: 'Montserrat', sans-serif;
    font-size:14px;
    color:white !important;
    transition: color 0.5s ease;

    -webkit-transition:color 0.5s ease;
    -moz-transition:color 0.5s ease;
    -o-transition:color 0.5s ease;
}

a.nav-link:hover{
    color:#dc3545 ;
}

/* Menu Butonları */
.btn-secondary {
    color: #fff;
    background-color: #939393;
    border-color: #070707;
    border-radius: 15px;

    
}

.btn-secondary:hover {
    color: #fff;
    background-color: #dc3545;
}


.btn-secondary.active {
    color: #FFFFFF ;
    background-color: #dc3545 ;
    border-color: #050605 ;
    border-width: 3px;
}



.btn.btn-primary{
    border-radius: 18px;
}

/* Category 1-2 Product Class*/
.Product1{
   margin-top: 35px;
}

.Product2{
    margin-top: 35px;
}

.btn-outline-info{
    color: #050404 ;
    background-color: #F5EFEF ;
    border-color: #939393;
    border-width: 1px;
    width:150px;
    border-radius: 17px;
}

.btn-outline-info:hover{
    color: #FFFBFB ;
    background-color: #000000;
    border-color: #FFFBFB ;
    border-width: 1px;
    width:150px;
    outline: none;
    border-radius: 17px;
}

.btn-outline-info:active {
    outline: none !important;
    border: none !important;
    }
    
.btn-outline-info:focus {
    outline: none !important;
    border: none !important;
}


.indexMargin{
    margin-top:30px;
}

.alert {
    width:80%; 
    margin: 0 auto;
    border:none; 
    background-color: #EFEFEF;
    margin-top:5px;
    color:#100F0F;
 }


 /*Autocomplete CSS*/

 .ui-autocomplete {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    float: left;
    display: none;
    min-width: 160px;   
    padding: 4px 0;
    margin: 0 0 10px 25px;
    list-style: none;
    background-color: #ffffff;
    border-color: #ccc;
    border-color: rgba(0, 0, 0, 0.2);
    border-style: solid;
    border-width: 1px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    *border-right-width: 2px;
    *border-bottom-width: 2px;
}

.ui-menu-item > a.ui-corner-all {
    display: block;
    padding: 3px 15px;
    clear: both;
    font-weight: normal;
    line-height: 18px;
    color: #555555;
    white-space: nowrap;
    text-decoration: none;
}

.ui-state-hover, .ui-state-active {
    color: #ffffff;
    text-decoration: none;
    background-color: #0088cc;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    background-image: none;
}