

<form action="/kayit/product" method="post">
<table style="margin-top:30px;">
<!--Kategori-->
<tr>
    <td style="text-align:right;"><label>Category :</label></td>
    <td><select name="category" id="category">
            <option value="mens" id="mens">Mens</option>
            <option value="womens" id="womens">Womens</option>
        </select>
    </td>
</tr>

<!--Alt Kategori Parent-->
<tr>
    <td style="text-align:right;"><label>SubCategory :</label></td>
    <td><select name="parent" id="parent">
            <option value="clothing" id="clothing">Clothing</option>
            <option value="accessories" id="accessories">Accessories</option>
            <option value="jewelery" id="jewelery">Jewelery</option>
        </select>
    </td>
</tr>

<!--Alt Kategori Child-->
<tr>
    <td style="text-align:right;"><label>SubCategory (Child) :</label></td>
    <td><select name="child" id="child">
            <option value="suits" id="suits">Suits</option>
            <option value="jacket" id="jacket">Jacket &amp; Coats</option>
            <option value="dress" id="dress">Dress &amp; Shirts</option>
            <option value="shorts" id="shorts">Shorts</option>
            <option value="pants" id="pants">Pants</option>
        </select>
    </td>
</tr>


<!--Ürün Adı -->
<tr>
    <td style="text-align:right;"><label>Product Name :</label></td>
    <td><input type="text" style="width:280px;" name="name" id="name"/></td>
</tr>

<!--Açıklama -->
<tr>
    <td style="text-align:right;"><label>Description :</label></td>
    <td><textarea rows="10" cols="50" name="description" id="description"></textarea></td>
</tr>

<!--Fiyatı-->
<tr>
    <td style="text-align:right;"><label>Price :</label></td>
    <td><input type="text" style="width:280px;" name="price" id="price"/></td>
</tr>



<!--Para Birimi-->
<tr>
    <td style="text-align:right;"><label>Currency :</label></td>
    <td><select name="currency" id="currency">
            <option value="tl" id="tl">TL</option>
            <option value="euro" id="euro">EURO</option>
            <option value="dolar" id="dolar">DOLAR</option>
        </select>
    </td>
</tr>

<!--Submit-->
<tr>
    <td style="text-align:right;"></td>
    <td style="text-align:right;"><input type="submit" style="border-radius:10px;" value="Save Product"></td>
</tr>

</table>
</form>