<html>
<body>

<div style="margin-left:30px;">

<form action="/kayit" method="post" enctype="multipart/form-data">
    <table style="margin-top:30px;">
    <!--Fotoğraf-->
    <tr>
        <td style="text-align:right;"><label>Photo :</label></td>
        <td><input type="file" name="photos" id="photos" multifile="multifile" accept="image/*"></td>
    </tr>

    <!--Submit-->
    <tr>
        <td style="text-align:right;"></td>
        <td style="text-align:right;"><input type="submit" style="border-radius:10px;" value="Fotoğrafı Yükle"></td>
    </tr>
    </table>
</form>

</div>

</body>
</html>