<!--MENS-->
<div class="row">
    <div class="col-sm-12">
        <div class="indexMargin">
            <div class="row">
                <div class="col-sm-1"></div>

                <div class="col-sm-10">

                    <div class="row">
                        <h1><%=Result.categories[0].page_title%></h1>
                    </div>
                    
                    <%for(var i=0;i<Result.categories[0].categories.length;i++){%>
                    <!--SUITS-->
                    <div class="row">
                        <h2 style="margin-top:25px;"><%=Result.categories[0].categories[i].name%></h2>
                    </div>

                    <div class="row">
                        <p class="lead"><%=Result.categories[0].categories[i].page_description%></p>
                    </div>

                    <div class="row">
                        <img src="/public/images/<%=Result.categories[0].categories[i].image%>" class="img-responsive">
                    </div>


                        
                    <%if(Result.categories[0].categories[i].name == "Outfits"){%>
                    <!--View Product-->
                    <div class="row" style="margin-top:15px;">
                        <a href="/womens/clothing/outfits"><button type="button" class="btn btn-outline-info" style="border-radius:5px;">View Products</button></a>
                    </div>
                    <%}else if(Result.categories[0].categories[i].name == "Tops"){%>
                    <!--View Product-->
                    <div class="row" style="margin-top:15px;">
                        <a href="/womens/clothing/tops"><button type="button" class="btn btn-outline-info" style="border-radius:5px;">View Products</button></a>
                    </div>
                    <%}else if(Result.categories[0].categories[i].name == "Dresses"){%>
                    <div class="row" style="margin-top:15px;">
                        <a href="/womens/clothing/dresses"><button type="button" class="btn btn-outline-info" style="border-radius:5px;">View Products</button></a>
                    </div>
                    <%}else if(Result.categories[0].categories[i].name == "Bottoms"){%>
                    <div class="row" style="margin-top:15px;">
                        <a href="/womens/clothing/bottoms"><button type="button" class="btn btn-outline-info" style="border-radius:5px;">View Products</button></a>
                    </div>
                    <%}else if(Result.categories[0].categories[i].name == "Jackets & Coats"){%>
                    <div class="row" style="margin-top:15px;">
                        <a href="/womens/clothing/jackets"><button type="button" class="btn btn-outline-info" style="border-radius:5px;">View Products</button></a>
                    </div>
                    <%}else if(Result.categories[0].categories[i].name == "Feeling Red"){%>
                    <div class="row" style="margin-top:15px;">
                        <a href="/womens/clothing/feelingreds"><button type="button" class="btn btn-outline-info" style="border-radius:5px;">View Products</button></a>
                    </div>
                    <%}%>




                    <%}%>
                
                </div>


        

                <div class="col-sm-1"> </div>
            </div>
        </div>
    </div>
</div>
