<!--MENS-->
<div class="row">
    <div class="col-sm-12">
        <div class="indexMargin">
            <div class="row">
                <div class="col-sm-1"></div>

                <div class="col-sm-10">

                    <div class="row">
                        <h1><%=Result.categories[1].page_title%></h1>
                    </div>
                    
                    <%for(var i=0;i<Result.categories[1].categories.length;i++){%>
                    <!--SUITS-->
                    <div class="row">
                        <h2 style="margin-top:25px;"><%=Result.categories[1].categories[i].name%></h2>
                    </div>

                    <div class="row">
                        <p class="lead"><%=Result.categories[1].categories[i].page_description%></p>
                    </div>

                    <div class="row">
                        <img src="/public/images/<%=Result.categories[1].categories[i].image%>" class="img-responsive">
                    </div>


                        
                    <%if(Result.categories[1].categories[i].name == "Earrings"){%>
                    <!--View Product-->
                    <div class="row" style="margin-top:15px;">
                        <a href="/womens/jewelry/earrings"><button type="button" class="btn btn-outline-info" style="border-radius:5px;">View Products</button></a>
                    </div>
                    <%}else if(Result.categories[1].categories[i].name == "Bracelets"){%>
                    <!--View Product-->
                    <div class="row" style="margin-top:15px;">
                        <a href="/womens/jewelry/bracelets"><button type="button" class="btn btn-outline-info" style="border-radius:5px;">View Products</button></a>
                    </div>
                    <%}else if(Result.categories[1].categories[i].name == "Necklaces"){%>
                    <div class="row" style="margin-top:15px;">
                        <a href="/womens/jewelry/necklaces"><button type="button" class="btn btn-outline-info" style="border-radius:5px;">View Products</button></a>
                    </div>
                    <%}%>




                    <%}%>
                
                </div>


        

                <div class="col-sm-1"> </div>
            </div>
        </div>
    </div>
</div>
