
<!--WOMENS-->
<div class="row">
    <div class="col-sm-12">
        <div class="indexMargin">
            <div class="row">
                <div class="col-sm-1"></div>

                <div class="col-sm-10">

                    <div class="row">
                        <h1><%=Result[0].page_title%></h1>
                    </div>

                    <%for(var i=0;i<Result[0].categories.length;i++){%>
                    <div class="row">
                        <h2 style="margin-top:25px;"><%=Result[0].categories[i].name%></h2>
                    </div>

                    <div class="row">
                        <p class="lead"><%=Result[0].categories[i].page_description%></p>
                    </div>

                    <div class="row">
                        <img src="/public/images/<%=Result[0].categories[i].image%>" class="img-responsive">
                    </div>

                     <%if(Result[0].categories[i].name == "Clothing"){%>
                    <!--View Product-->
                        <div class="row" style="margin-top:15px;">
                            <a href="/womens/clothing"><button type="button" class="btn btn-outline-info" style="border-radius:5px;">View Products</button></a>
                        </div>
                    <%}else if(Result[0].categories[i].name == "Jewelry"){%>
                        <div class="row" style="margin-top:15px;">
                            <a href="/womens/jewelry"><button type="button" class="btn btn-outline-info" style="border-radius:5px;">View Products</button></a>
                        </div>
                    <%}else if(Result[0].categories[i].name == "Accessories"){%>
                        <div class="row" style="margin-top:15px;">
                            <a href="/womens/accessories"><button type="button" class="btn btn-outline-info" style="border-radius:5px;">View Products</button></a>
                        </div>
                    <%}%>

                    <%}%>

                </div>

                <div class="col-sm-1"> </div>
            </div>
        </div>
    </div>
</div>
