﻿<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="/public/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/public/css/main.css"/>

</head>

<body>

<nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <%if(Username == null){%>
  <a class="navbar-brand" href="/" style="color:white;">Your Shop</a>
  <%}else{%>
  <a class="navbar-brand" href="/" style="color:white;"><b style="color:#dc3545;"><%=Username.username%> /</b> Your Shop</a>
  <%}%>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/mens" id="mens" style="text-align:center; margin: auto 30px; font-size:17px;">MENS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/womens" id="womens" style="text-align:center; margin: auto 30px; font-size:17px;">WOMENS</a>
      </li>
    </ul>

    <%if(Username !=null){%>
    <!--Shopping Card-->
    <i class="fa fa-shopping-cart fa-2x" id="ShoppingCount" aria-hidden="true" style="color:#dc3545; margin-right:100px;"><span style="font-size:27px; margin-left:7px;"></span></i>
    <%}%>


    <!--Search-->
    <form action="/search" method="post" class="form-inline my-2 my-lg-0">
                
                <div class="input-group">
                    <input type="search" class="typeahead form-control" placeholder="Search Product Name..." style="width:300px;" name="autocomplete" id="autocomplete"/>
                    <button type="submit" class="btn btn-default">
                        <span class="glyphicon glyphicon-search"></span> Search
                    </button>
                </div>

    </form>

    <%if(Username ==null){%>
    <!--Login-->
    <a href="/login"><button type="button" class="btn btn-outline-danger" style="margin-left:30px;">Log In</button></a>
    <!--Register-->
    <a href="/signup"><button type="button" class="btn btn-outline-danger" style="margin-left:5px;">Sign Up</button></a>
    <%}else{%>
    <a href="/logout"><button type="button" class="btn btn-outline-danger" style="margin-left:5px;">Log Out</button></a>
    <%}%>

  </div>
</nav>


<!--Listing Current URL -->
<div class="row">
    <div class="alert alert-info" role="alert" id="CurrentLinks" name="CurrentLinks">
    
    <!--Listing here-->

    </div>
</div>
            
            
<!--CONTENT-->  

  <%-body %>

<div class="container">
<div id="row" style="margin: 35px auto;">
<hr>
<p class="text-muted" style="text-align:right">Copyright 2017 OSF Global Services</p>
</div>
</div>

  <!--Script İmport-->
    <script src="/public/js/jquery-3.2.1.min.js"></script>
    <script src="/public/js/bootstrap.min.js"></script>
    <script src="/public/js/main.js"></script>
    <script src="/public/js/jquery-ui.js"></script>
    <script src="/public/js/bootstrap-typehead.js"></script>


    <script>

    $(document).ready(function(){

        //var array = ["Mehmet","Merve","Melis"];
        var array;
        var names=[];

        $.ajax({
            url: "/autocomplete",
            type: "POST",
            dataType:"json",
            success: function (data) {

                 array = $.parseJSON(data);

                 for(var i=0;i<array.length;i++)
                 {
                    names[i] = array[i].name;
                 }
            }
        });

        

        $("#autocomplete").autocomplete({
                minLength: 3,
                source:names
        });

        $("#ShoppingCount").click(function(){

            window.location.href = "/myshopping";
            
        });


        // Following All Link Current State
        Parcala(window.location.pathname);

        var current = window.location.pathname;

              if(current == "/mens")
              {
                    $('#mens').css("background-color","#dc3545");
                    $('#mens').css("border-radius","11px");
                    $('#womens').css("background-color","none");
              }
              else if(current =="/womens")
              {
                    $('#womens').css("background-color","#dc3545");
                    $('#womens').css("border-radius","11px");
                    $('#mens').css("background-color","none");
              }   


    });

    //First Letter is Big
    function firstToUpperCase( str ) 
    {
      return str.substr(0, 1).toUpperCase() + str.substr(1);
    }

    //-- My Algorithm --> code following that current url
    function Parcala(current)
    {
        var array = current.split('/');

        
        if(array[0] == "" && array[1] == "")
        {
            var aktifLinkler = '<a href="/">Home</a> / ';
            $("#CurrentLinks").html(aktifLinkler);
        }
        else if(array[1] != "")
        {
            var aktifLinkler = '<a href="/">Home</a> / ';

            
            if(array.length >=4)
            {
             

              for(var i=1;i<array.length;i++)
                {
                    
                    //Index 4
                    if(i == array.length -1)
                    {
                      array[i] = firstToUpperCase(array[i]);         
                      aktifLinkler += array[i];
                    }
                    else //Index 3
                    {
                      if(i == 3)
                      {
                          aktifLinkler += '<a href="/'+array[i-2]+'/'+array[i-1]+'/'+array[i]+'">';
                
                          array[i] = firstToUpperCase(array[i]);
                
                          aktifLinkler += array[i]+'</a> / ';
                      }
                      else if(i == 2) //Index 2
                      {
                          aktifLinkler += '<a href="/'+array[i-1]+'/'+array[i]+'">';
                
                          array[i] = firstToUpperCase(array[i]);
                
                          aktifLinkler += array[i]+'</a> / ';
                      }
                      else{ //1

                          aktifLinkler += '<a href="/'+array[i]+'">';
                
                          array[i] = firstToUpperCase(array[i]);
                
                          aktifLinkler += array[i]+'</a> / ';

                      }

                      
                    }
                }

            }
            else if(array.length >=3)
            {
             

              for(var i=1;i<array.length;i++)
                {
                    
                    if(i == array.length -1)
                    {
                      array[i] = firstToUpperCase(array[i]);         
                      aktifLinkler += array[i];
                    }
                    else
                    {

                      if(i == 2)
                      {
                          aktifLinkler += '<a href="/'+array[i-1]+'/'+array[i]+'">';
                
                          array[i] = firstToUpperCase(array[i]);
                
                          aktifLinkler += array[i]+'</a> / ';
                      }
                      else{

                          aktifLinkler += '<a href="/'+array[i]+'">';
                
                          array[i] = firstToUpperCase(array[i]);
                
                          aktifLinkler += array[i]+'</a> / ';

                      }

                      
                    }
                }

            }
            else
            {
                for(var i=1;i<array.length;i++)
                {
                    if(i == array.length -1)
                    {
                      array[i] = firstToUpperCase(array[i]);         
                      aktifLinkler += array[i];
                    }
                    else
                    {
                      aktifLinkler += '<a href="/'+array[i]+'">';
                
                      array[i] = firstToUpperCase(array[i]);
                
                      aktifLinkler += array[i]+'</a> / ';
                    }
                }
            }


            

            $("#CurrentLinks").html(aktifLinkler);
        }
        
    }

      
    </script>
</body>
</html>

