﻿<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>WireFrames Project</title>

    <link rel="stylesheet" type="text/css" href="../public/css/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="../public/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="../public/css/main.css"/>
</head>
<body>

<!--MENS-->
<div class="row">
    <div class="col-sm-12">
        <div class="indexMargin">
            <div class="row">
                <div class="col-sm-1"> </div>

            <div class="col-sm-10">
                <div class="row">
                    <h1><%=Result[0].name%></h1>
            </div>

            <div class="row">
                <p class="lead"><%=Result[0].page_description%></p>
            </div>

            <!--View Product-->
            <div class="row">
                <a href="/mens"><button type="button" class="btn btn-outline-info">View Products</button></a>
            </div>

            <div class="col-sm-1"> </div>
        </div>
    </div>
</div>

<!--WOMENS-->

<div class="row">
    <div class="col-sm-12">
        <div class="indexMargin">
            <div class="row">
                <div class="col-sm-1"> </div>

            <div class="col-sm-10">
                <div class="row">
                    <h1><%=Result[1].name%></h1>
            </div>

            <div class="row">
                <p class="lead"><%=Result[1].page_description%></p>
            </div>

            <div class="row">
               <a href="/womens"> <button type="button" class="btn btn-outline-info">View Products</button></a>
            </div>

            <div class="col-sm-1"> </div>
        </div>
    </div> 
</div>


  <!--Script İmport-->
    <script src="../public/js/jquery-3.2.1.min.js"></script>
    <script src="../public/js/bootstrap.min.js"></script>
    <script src="../public/js/main.js"></script>

</body>
</html>