<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="/public/css/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="/public/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/public/css/main.css"/>

</head>
<body>

<%for(var i=0;i<4;i=i+2) {%>

<div class="row">

<div class="col-sm-2">
</div>

    <!--COL-SM-6 (((1)))-->
    
    <div class="col-sm-4" style="margin-right:4px;margin-top:30px; padding-bottom:30px; border:1px solid; border-color:black; border-radius:30px;">

        <div class="Product1">
        <div class="row">
            <div class="col-sm-12">
                <h6><%=Result[i].name%></h6>
            </div>
        </div>
        </div>
         

        <div class="row">
            <!--Image-->
            <div class="col-sm-5">         
                <img src="/public/images/<%=Result[i].image_groups[0].images[0].link%>" style="margin-top:8px; width:175px; height:175px;" alt="My Image" class="center-block" >
            </div>
            <!--About-->
            <div class="col-sm-7">
                <div class="row">
                    <div class="col-sm-12">
                        <p class="text-muted">
                        <%=Result[i].short_description%>
                        </p>
                    </div>
                </div>

                <!-- Price and Button -->
                <div class="row">
                    <!--Price-->
                    <div class="col-sm-6">
                        <b>Price:</b> <%=Result[i].currency%> <%=Result[i].price%>
                    </div>
                    <!--More Info-->
                    <div class="col-sm-6">
                        <a href="/mens/accessories/ties/<%=Result[i].id%>"><button type="button" id="category1" class="btn btn-primary">More Info</button></a>           
                    </div>
                    </br>
                    </br>
                </div>             
            </div>


                

        </div>
      
    </div>
    

    <!--COL-SM-6 (((2)))-->
   
    <div class="col-sm-4" style="margin-right:4px; margin-top:30px; padding-bottom:30px; border:1px solid; border-color:black; border-radius:30px;">
            <div class="Product2">
                <div class="row">
                    <div class="col-sm-12">
                        <h6><%=Result[i+1].name%></h6>
                    </div>  
                </div>
            </div> 

        <div class="row">
            <!--Image-->
            <div class="col-sm-5">
                <img src="/public/images/<%=Result[i+1].image_groups[0].images[0].link%>" style="margin-top:8px; width:175px; height:175px;" alt="My Image" class="center-block" >
            </div>
            <!--About-->
            <div class="col-sm-7">
                <div class="row">
                    <div class="col-sm-12">
                        <p class="text-muted">
                        <%=Result[i+1].short_description%>
                        </p>
                    </div>
                </div>
            
                <!-- Price and Button -->
                <div class="row">
                    <!--Price-->
                    <div class="col-sm-6">
                        <b>Price:</b> <%=Result[i+1].currency%> <%=Result[i+1].price%>
                    </div>
                    <!--More Info-->
                    <div class="col-sm-6">
                        <a href="/mens/accessories/ties/<%=Result[i+1].id%>"><button type="button" id="category1" class="btn btn-primary">More Info</button></a>            
                    </div>
                    </br>
                    </br>
                </div> 
            </div>
        </div>
    </div>


<div class="col-sm-2">
</div>

</div> 

</br>
</br>
<%}%>


  <!--Script İmport-->
    <script src="/public/js/jquery-3.2.1.min.js"></script>
    <script src="/public/js/bootstrap.min.js"></script>
    <script src="/public/js/main.js"></script>

</body>
</html>