<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>WireFrames Project</title>

    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/public/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/public/css/main.css"/>
    <link rel="stylesheet" type="text/css" href="/public/css/login.css"/>
    
</head>
<body>


    <form action="/signup" method="post">
        <div style="width:400px; height:410px; margin: 25px auto;">
            <div class="form-login" style="height:400px; border-style:solid; border-color:dark;">
            <h4>Create Account</h4>
            <!--Username-->
            <input type="text" id="username" name="username" class="form-control input-sm chat-input" placeholder="Username" />
            </br>
            <!--Email-->
            <input type="email" id="email" name="email" class="form-control input-sm chat-input" placeholder="E-Mail" />
            </br>
            <!--Password-->
            <input type="password" id="password" name="password" class="form-control input-sm chat-input" placeholder="Password" />
            </br>
            <!--Confirm Password-->
            <input type="password" id="confirmpassword" name="confirmpassword" class="form-control input-sm chat-input" placeholder="Confirm Password" />
            </br>
            <div class="wrapper">
            <span class="group-btn">     
                <input class="btn btn-primary" style="width:350px;"  type="submit" value="Sign Up">
            </span>
            </div>
            </div>
        </div>
    </form>


        <%if(Result == "User"){%>
        <div class="alert alert-warning" style="background-color:#FFE551; text-align:center;" role="alert">
            WARNING! <strong><%=varb%></strong> exists to other people. Unavailable!
        </div>
        <%}else if(Result == "Email"){%>
        <div class="alert alert-warning" style="background-color:#FFE551; text-align:center;" role="alert">
            WARNING! <strong><%=varb%></strong> exists to other people. Unavailable!
        </div>
        <%}%>




  <!--Script İmport-->
    <script src="/public/js/jquery-3.2.1.min.js"></script>
    <script src="/public/js/bootstrap.min.js"></script>
    <script src="/public/js/main.js"></script>

    <script>

    $(document).ready(function(){
           $('#username').focus();
    });

    $('form').submit(function () {

    // Get the Login Name value and trim it
    var name = $('#username').val();
    var email = $('#email').val();
    var password = $('#password').val();
    var confirmpassword = $('#confirmpassword').val();

    // Check if empty of not
    if (name  === '' || email === '' || password === '' || confirmpassword === '') {
        alert('Check empty spaces!');
        $('#username').val("");
        $('#email').val("");
        $('#password').val("");
        $('#confirmpassword').val("");
        $('#username').focus();
        return false;
    }
    else if(password !== confirmpassword)
    {
        alert('The Passwords are not the same!');
        $('#password').val("");
        $('#confirmpassword').val("");
        $('#password').focus();
        return false;
    }
});

    </script>

</body>
</html>