<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>WireFrames Project</title>

    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/public/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/public/css/main.css"/>
    <link rel="stylesheet" type="text/css" href="/public/css/login.css"/>
    
</head>
<body>


    <form action="/login" method="post">
        <div style="width:400px; height:310px; margin: 25px auto;">
            <div class="form-login" style="height:300px; border-style:solid; border-color:dark;">
            <h4>Welcome to Your Shop</h4>
            <!--Username-->
            <input type="text" id="username" name="username" class="form-control input-sm chat-input" placeholder="Username" />
            </br>
            <!--Password-->
            <input type="password" id="password" name="password" class="form-control input-sm chat-input" placeholder="Password" />
            </br>
            <div class="wrapper">
            <span class="group-btn">     
                <input class="btn btn-primary" style="width:350px;"  type="submit" value="Log In">
            </span>
            </div>
            </div>
        </div>
    </form>


        <%if(Result == "0"){%>
        <div class="alert alert-warning" style="background-color:#F4B29F; text-align:center;" role="alert">
            <strong>Oh Sorry!</strong> User not Found. Check Username and Password!
        </div>
        <%}%>



  <!--Script İmport-->
    <script src="/public/js/jquery-3.2.1.min.js"></script>
    <script src="/public/js/bootstrap.min.js"></script>
    <script src="/public/js/main.js"></script>

    <script>

    $(document).ready(function(){
           $('#username').focus();
    });

    $('form').submit(function () {

    // Get the Login Name value and trim it
    var name = $('#username').val();
    var password = $('#password').val();

    // Check if empty of not
    if (name  === '' || password === '') {
        alert('Username or Password is empty.');
        $('#username').val("");
        $('#password').val("");
        $('#username').focus();
        return false;
    }
});

    </script>

</body>
</html>