<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>WireFrames Project</title>
</head>
<body>

<div class="container">
    <div class="row">
        <!--Photo-->
        <div class="col-sm-5">
            <!--Large Photo-->
            <div class="row">
                <img src="/public/images/<%=Result.image_groups[0].images[0].link%>" id="largeImage" class="img-responsive" style="margin: 0 auto; padding: 5px 5px; width:380px; height:380px;">
            </div>
            <div class="row">
            <hr style="width: 100%; color: black;  background-color:black;" />
            </div>

        </div>
        
        <!--About-->
        <div class="col-sm-7">
            <!--Product Name-->
            <div class="row">
                <h2><%=Result.name%></h2>
            </div>

            <!--Description-->
            <div class="row">
                <p class="text-muted" style="padding: 10px 10px;"><%-Result.long_description%></p>
               
            </div>

            <div class="row">
                 <span style="margin-right:10px;"><b>Price:</b></span><div id="currency_price"><input type:"text" readonly="true" style="text-align:center; border: 0px solid; width:80px;" id="price" name="price" value="<%=Result.price%>"></div> 
                <select class="form-control" name="currency" id="currency" style="width:130px; margin-left:20px;">
                    <option value="usd" id="usd">USD</option>
                    <option value="euro" id="euro">EURO</option>
                    <option value="tl" id="tl">TL</option>
                </select>
            </div>

            <div class="row">
                    <button type="button" id="buyNow" class="btn btn-primary">Buy Now</button>
            </div>

            <div class="row">
                <div id="CheckSession">
            
                </div>
            </div>
        </div>

    </div>
</div>

  <!--Script İmport-->
    <script src="/public/js/jquery-3.2.1.min.js"></script>
    <script src="/public/js/bootstrap.min.js"></script>
    <script src="/public/js/main.js"></script>

    <script>


        $(document).ready(function(){
            
            var previous;
            var currency;
            var price = "<%=Result.price%>";

            $("#currency").on('focus', function () {
                previous = this.value;
            }).change(function() {
                //alert("Old Value : "+previous+"\nNew Value : "+this.value);
                currency = this.value;

                if(previous =="usd")
                {
                    // USD
                    $.ajax({
                        url: "http://api.fixer.io/latest?base=USD",
                        type: "GET",
                        async:true,
                        dataType : 'json',
                        data: {},
                        success: function(data) 
                        { 
                            var new_price;
                            if(currency =="euro")
                            {
                                new_price = parseFloat(price) * parseFloat(data.rates.EUR);
                            }
                            else
                            {
                                new_price = parseFloat(price) * parseFloat(data.rates.TRY);
                            }

                            price = new_price.toString();

                            $("#price").val(new_price.toFixed(0));

                        },
                        error: function(e)
                        { 
                            alert("error USD: "+e);
                        } 
                    });
                }
                else if(previous == "euro") //Euro
                {
                    $.ajax({
                        url: "http://api.fixer.io/latest?base=EUR",
                        type: "GET",
                        async:true,
                        dataType : 'json',
                        data: {},
                        success: function(data) 
                        { 
                            var new_price;
                            if(currency =="usd")
                            {
                                new_price = parseFloat(price) * parseFloat(data.rates.USD);
                            }
                            else
                            {
                                new_price = parseFloat(price) * parseFloat(data.rates.TRY);
                            }

                            price = new_price.toString();

                            $("#price").val(new_price.toFixed(0));

                        },
                        error: function(e)
                        { 
                            alert("error Euro: "+e);
                        } 
                    });   
                }
                else // TRY
                {
                    $.ajax({
                        url: "http://api.fixer.io/latest?base=TRY",
                        type: "GET",
                        async:true,
                        dataType : 'json',
                        data: {},
                        success: function(data) 
                        { 
                            var new_price;
                            if(currency =="usd")
                            {
                                new_price = parseFloat(price) * parseFloat(data.rates.USD);
                            }
                            else
                            {
                                new_price = parseFloat(price) * parseFloat(data.rates.EUR);
                            }

                            price = new_price.toString();

                            $("#price").val(new_price.toFixed(0));

                        },
                        error: function(e)
                        { 
                            alert("error TRY: "+e);
                        } 
                    });
                }
                
                previous = this.value;
            });
            
            
            //Current User variable
            var current="";

            //Session Check
            if("<%Username%>" != null)
            {
                current = "<%=Username%>"; 
            }          

            //Buy Now Click
            $('#buyNow').click(function(){

                if(current != "")
                {
                     var path = window.location.pathname;
                                        
                    var currency = $("#currency").val();
                    var price = $("#price").val();


                    var FullPath = "/shopping/<%=Result.id%>&"+price+"&"+currency;

                    //Current User
                    window.location.href = FullPath;

                }
                else
                {
                    $("#CheckSession").html('<div class="alert alert-info" style="width:400px; background-color:#FFE761;" role="alert"><strong>STOP!</strong> Please, <a href="/login">Log in...</a></div>');
                }
            });

        });

         
    </script>

</body>
</html>